# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
app
run
runs
run-data

repo
/geckolib-sources/
/source_codes/
/qodana.yaml
/末影回响mod开发大纲.html
/irons-spells-n-spellbooks/
